version: '3.8'

services:
  http:
    container_name: http
    image: nginx:latest
    ports:
      - "8080:8080"
    volumes:
      # Monte les sources de l'app
      - ./src:/app
      # Monte la configuration Nginx modifiée
      - ./config/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - tp3_network
    # Assure que le script (PHP) est prêt avant Nginx
    depends_on:
      - script

  script:
    container_name: script
    # Utilise le Dockerfile local pour construire l'image avec mysqli
    build:
      context: .
      dockerfile: Dockerfile-php
    volumes:
      # Monte les sources de l'app
      - ./src:/app
    networks:
      - tp3_network
    # Assure que la base de données est prête avant PHP
    depends_on:
      - data

  data:
    container_name: data
    image: mariadb:latest
    environment:
      # Variables d'environnement pour l'initialisation de la DB
      MARIADB_DATABASE: test_db
      MARIADB_USER: user
      MARIADB_PASSWORD: password
      MARIADB_RANDOM_ROOT_PASSWORD: 'yes'
    volumes:
      # Monte le script d'initialisation de la DB (create.sql)
      - ./db_init:/docker-entrypoint-initdb.d
    networks:
      - tp3_network

networks:
  tp3_network:
    driver: bridge
